@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Sriracha', cursive !important;
}

.sidebar-link, a.sidebar-link{
    font-size: 18px;
}

.sidebar-dropdown .sidebar-link{
    font-size: 16px;
}